export(applyBy)
export(rowApplyBy)
export(colApplyBy)
export(colSumsBy)
export(rowSumsBy)
export(rowMeansBy)
export(colMeansBy)
export(rowMediansBy)
export(colMediansBy)
export(rowMaxsBy)
export(colMaxsBy)
export(rowMinsBy)
export(colMinsBy)
importFrom(pkgmaker,isNumber)
importFrom(pkgmaker,isString)
importFrom(pkgmaker,str_out)
importFrom(matrixStats,colAvgsPerRowSet)
importFrom(matrixStats,rowAvgsPerColSet)
importFrom(matrixStats,colAvgsPerRowSet.matrix)
importFrom(matrixStats,rowAvgsPerColSet.matrix)
S3method(applyBy,matrix)
S3method(applyBy,ExpressionSet)
S3method(applyBy,numeric)
